<div class="form-group row no-padding text-center col-md-12">
            <div class="col-md-12">
                <h1>Welcome to the GitHub Profile Analyzer app</h1>
                <%= image_tag "avatar.png" %><br>
                <%=link_to'Create User Profile', my_profile_path %>
            </div>
</div>



